html,body{height:100%;}
/*登录输入框样式star*/
.login-box{width:548px;height:358px; position:absolute; top:50%;left:50%;margin-left:-274px;margin-top:-179px;border:1px solid #e4e4e4;background:url(../images/logo.jpg) center 50px no-repeat;}
.form-user{width:305px; margin:124px auto 0 auto;}
.form-user input{display:block;width:277px;height:43px;padding:0 14px;line-height:43px;font-size:14px; border:1px solid #e4e4e4; margin-bottom:20px;color:#666666;}
.form-user input.btn{width:307px;border:1px solid #e4e4e4; background:#fff; text-align:center; color:#666666;}
/*登录输入框样式end*/
/*左侧菜单STAR*/
.order-box{width:1200px; height:100%; margin:0 auto;}
.order-box .nav{width:200px;height:100%; float:left; background:#343843;}
.order-box .nav li{width:200px; height:60px;line-height:60px;  }
.order-box .nav li.active{background:#292c35;}
.order-box .nav li.logo{background: url(../images/icon.png) center 14px no-repeat #e4624f;}
.order-box .nav li a{display:block;width:134px;padding-left:66px; font-size:18px;  color:#cccccc;}
.order-box .nav li a.icon1{background:url(../images/icon.png) 16px -34px no-repeat;}
.order-box .nav li a.icon2{background:url(../images/icon.png) 21px -94px no-repeat;}
.order-box .nav li a.icon3{background:url(../images/icon.png) 21px -154px no-repeat;}
.order-box .nav li a.icon4{background:url(../images/icon.png) 22px -214px no-repeat;}
.order-box .nav li a.icon5{background:url(../images/icon.png) 21px -274px no-repeat;}
.wrap{width:1000px;  float:left; overflow:hidden;}
.wrap .user{height:60px; line-height:60px;color:#cccccc;font-size:18px;background:#343843;padding:0 20px; text-align:right;}
/*左侧菜单END*/
/*订单管理 条件star*/
.condition{padding-top:30px; width:1300px;margin-left:30px; overflow:hidden;}
.condition .normol,.condition .ditail,.condition .state{margin-bottom:20px;overflow: hidden;}
.condition .normol li{float:left;  margin-right: 21px;}
.condition .normol span{font-size:16px;color:#ccc;}
.condition .normol input{width:228px;border:1px solid #ccc; }
.condition .ditail li{float:left; margin-right:18px;}
.condition .ditail span{font-size:16px;color:#ccc;}
.condition .ditail input{width:178px;border:1px solid #ccc; }
.condition .state li{ float:left;font-size:16px;color:#ccc; margin-right: 54px;}
.condition .state span.r{display:inline-block; width:16px; height:18px; background:url(../images/icon.png) 0px -352px no-repeat;  margin-right: 5px; float:left;}
.condition .state span.w{display:inline-block;float:left;font-size:16px;color:#ccc;}
.search-box{width:970px;border-bottom:1px solid #cccccc; padding-bottom:30px;}
.condition .search{display:block;width:120px;height:30px; background:#e4624f; text-align:center;line-height:30px; color:#fff; margin:0 auto;}
/*第二页*/
.condition .margin-t li{float:left;  margin-right: 16px;}
.condition .ditial-t li{margin-right: 107px;}
.condition .state-t li{margin-right: 129px;}
.condition .ditail .radio li,.condition .state-t .radio li{float:left;font-size:16px;color:#ccc; margin-right:45px;}
.condition .ditail .radio span.r,.condition .state-t .radio span.r{display:inline-block; width:16px; height:18px; background:url(../images/icon.png) 0px -352px no-repeat;  margin-right: 5px; float:left;}
.condition .ditail .radio span.w,.condition .state-t .radio span.w{display:inline-block;float:left;font-size:16px;color:#ccc;}

/*订单管理 条件end*/
/*订单管理 列表star*/
.list{width:970px;margin-left:30px; padding-top:30px;}
.list .btn{display:block;font-size:16px;color:#e4624f;width:118px;height:29px;line-height:29px;border:1px solid #ccc; text-align:center; margin-bottom:30px;}
.order-list{width:970px; margin-bottom:30px;}
.order-list .detial-state{overflow:hidden; height:68px; background:#f5f5f5; border:1px solid #ccc;}
.order-list .detial-state li{float:left; line-height:68px;  margin: 0 13px;}
.order-list .detial-state span.detial-n{font-size:14px;color:#999;}
.order-list .detial-state span.detial-w{font-size:14px;color:#333;}
.order-list .detial-state li.detial-z{float:right;}
.order-list .detial-state li.detial-z span{color:#e4624f;}
.detial-commodity{width:970px;height:140px;border:1px solid #ccc;border-top:none; overflow:hidden;}
.detial-commodity dt{display: inline-block;width:98px;height:98px;border:1px solid #ccc; margin:20px 20px; float:left;}
.detial-commodity dd.second-w{width:526px;display: inline-block;float:left;margin:57px 0;}
.detial-commodity dd.second-w dd{float:left;height:26px;line-height:26px;  margin-right: 30px; }
.detial-commodity dd.third-w{width:150px;border-left:1px solid #ccc;  float: left;height: 140px;}
.detial-commodity dd.third-w .one li{font-size:14px;color:#333;  line-height: 140px;text-align: center;}
.detial-commodity dd.third-w .two{margin:44px 0;}
.detial-commodity dd.third-w .three{margin:31px 0;}
.detial-commodity dd.third-w .two li,.detial-commodity dd.third-w .three li{font-size:14px;color:#333; height:26px;line-height:26px; text-align: center;}



.detial-commodity dd.forth-btn{width:150px;border-left:1px solid #ccc;  float: left;height: 140px;}
.detial-commodity dd.forth-btn .one li{font-size:14px;color:#333;width:118px;height:28px;line-height:28px;text-align: center;border:1px solid #ccc; margin:55px auto;}
.detial-commodity dd.forth-btn .two{margin:30px 0;}
.detial-commodity dd.forth-btn .two li{font-size:14px;color:#333; width:118px;height:28px;line-height:28px;text-align: center;border:1px solid #ccc; margin:10px auto;}
/*订单管理 列表end*/
/*售后*/
.cus-service{width:968px; border:1px solid #ccc;border-bottom:0;}
.cus-service dt{height:48px;background:#f5f5f5;border-bottom:1px solid #ccc;}
.cus-service dt li{height:48px;line-height:48px; text-align:center; float:left; border-right:1px solid #ccc; font-size:14px;color:#333;}
.cus-service dt li.no-boder{border:0;}
.cus-service dd{height:50px;border-bottom:1px solid #ccc;}
.cus-service dd li{height:50px;line-height:50px; text-align:center; float:left; border-right:1px solid #ccc;font-size:14px;color:#333;}
.cus-service dd li.no-boder{border:0;}
.cus-service dd li.blue{ color:#4f8ee4;}
.cus-service dd li.red{color:#e4624f;}
.cus-service dd li a{font-size:14px; color:#4f8ee4;}
.w124{width:124px;}
.w156{width:156px;}
.w60{width:60px;}
.w110{width:110px;}
.w116{width:116px;}
.w94{width:94px;}
.w77{width:77px;}
.w68{width:68px;}

/*售后END*/
/*商品管理*/
.condition .normol-t li{margin-right:27px}
.condition .normol-t li input{width:178px;}
.condition .normol-t li input.money{width:148px;}
.condition .ditial-th li{margin-right:125px}
/*商品管理END*/

.no-boder{border:0;}

































