html,body{height:100%;font-size: 16px;color: #000;font-family: "微软雅黑"; }
.clearfix:after{ clear:both; display:block;	content:'';}
.clearfix{ zoom:"1";}
/*遮罩层样式*/
.mask-bg{width: 100%;height: 100%;background: #000;opacity:0.3;position:fixed;z-index:9;-display:none;}
/*登录输入框样式star*/
.login-box{width:548px;height:358px; position:absolute; top:50%;left:50%;margin-left:-274px;margin-top:-179px;border:1px solid #e4e4e4;background:url(../images/logo.jpg) center 50px no-repeat;}
.form-user{width:305px; margin:124px auto 0 auto;}
.form-user input{display:block;width:277px;height:43px;padding:0 14px;line-height:43px;font-size:14px; border:1px solid #e4e4e4; margin-bottom:20px;color:#666666;}
.form-user input.btn{width:307px;border:1px solid #e4e4e4; background:#fff; text-align:center; color:#666666;}
/*登录输入框样式end*/
/*左侧菜单STAR*/
.order-box{width:1200px; height:100%; margin:0 auto;position:relative;}
.order-box .nav{width:200px;height:100%; float:left; background:#343843;}
.order-box .nav li{width:200px; height:60px;line-height:60px;}
.order-box .nav li.active{background:#292c35;}
.order-box .nav li.logo{background: url(../images/icon.png) center 14px no-repeat #e4624f;}
.order-box .nav li a{display:block;width:134px;padding-left:66px; font-size:18px;  color:#cccccc;}
.order-box .nav li a.icon1{background:url(../images/icon.png) 16px -34px no-repeat;}
.order-box .nav li a.icon2{background:url(../images/icon.png) 21px -94px no-repeat;}
.order-box .nav li a.icon3{background:url(../images/icon.png) 21px -154px no-repeat;}
.order-box .nav li a.icon4{background:url(../images/icon.png) 22px -214px no-repeat;}
.order-box .nav li a.icon5{background:url(../images/icon.png) 21px -274px no-repeat;}
.wrap{width:1000px;  float:left; overflow:hidden;}
.wrap .user{height:60px; line-height:60px;color:#cccccc;font-size:18px;background:#343843;padding:0 20px; text-align:right;}
/*左侧菜单END*/
/*订单管理 条件star*/
.condition{padding-top:30px; width:1300px;margin-left:30px; overflow:hidden;}
.condition .normol,.condition .ditail,.condition .state{margin-bottom:20px;overflow: hidden;}
.condition .normol li{float:left;  margin-right: 21px;}
.condition .normol span{font-size:16px;color:#ccc;}
.condition .normol input{width:228px;height:22px;border:1px solid #ccc; }
.condition .ditail li{float:left; margin-right:18px;}
.condition .ditail span{font-size:16px;color:#ccc;}
.condition .ditail input{width:178px;height:22px;border:1px solid #ccc; }
.condition .state li{ float:left;font-size:16px;color:#ccc; margin-right: 54px;}
.condition .state span.r{display:inline-block; width:16px; height:18px; background:url(../images/icon.png) 0px -352px no-repeat;  margin-right: 5px; float:left;}
.condition .state span.w{display:inline-block;float:left;font-size:16px;color:#ccc;}
.search-box{width:970px;border-bottom:1px solid #cccccc; padding-bottom:30px;}
.condition .search{display:block;width:120px;height:30px; background:#e4624f; text-align:center;line-height:30px; color:#fff; margin:0 auto;}
/*第二页*/
.condition .margin-t li{float:left;  margin-right: 16px;}
.condition .ditial-t li{margin-right: 107px;}
.condition .state-t li{margin-right: 129px;}
.condition .ditail .radio li,.condition .state-t .radio li{float:left;font-size:16px;color:#ccc; margin-right:45px;}
.condition .ditail .radio span.r,.condition .state-t .radio span.r{display:inline-block; width:16px; height:18px; background:url(../images/icon.png) 0px -352px no-repeat;  margin-right: 5px; float:left;}
.condition .ditail .radio span.w,.condition .state-t .radio span.w{display:inline-block;float:left;font-size:16px;color:#ccc;}

/*订单管理 条件end*/
/*订单管理 列表star*/
.list{width:970px;margin-left:30px; padding-top:30px;}
.list .btn{display:block;font-size:16px;color:#e4624f;width:118px;height:29px;line-height:29px;border:1px solid #ccc; text-align:center; margin-bottom:30px;}
.order-list{width:970px; margin-bottom:30px;}
.order-list .detial-state{overflow:hidden; height:68px; background:#f5f5f5; border:1px solid #ccc;}
.order-list .detial-state li{float:left; line-height:68px;  margin: 0 13px;}
.order-list .detial-state span.detial-n{font-size:14px;color:#999;}
.order-list .detial-state span.detial-w{font-size:14px;color:#333;}
.order-list .detial-state li.detial-z{float:right;}
.order-list .detial-state li.detial-z span{color:#e4624f;}
.detial-commodity{width:970px;height:140px;border:1px solid #ccc;border-top:none; overflow:hidden;}
.detial-commodity dt{display: inline-block;width:98px;height:98px;border:1px solid #ccc; margin:20px 20px; float:left;}
.detial-commodity dd.second-w{width:526px;display: inline-block;float:left;margin:57px 0;}
.detial-commodity dd.second-w dd{float:left;height:26px;line-height:26px;  margin-right: 30px; }
.detial-commodity dd.third-w{width:150px;border-left:1px solid #ccc;  float: left;height: 140px;}
.detial-commodity dd.third-w .one li{font-size:14px;color:#333;  line-height: 140px;text-align: center;}
.detial-commodity dd.third-w .two{margin:44px 0;}
.detial-commodity dd.third-w .three{margin:31px 0;}
.detial-commodity dd.third-w .two li,.detial-commodity dd.third-w .three li{font-size:14px;color:#333; height:26px;line-height:26px; text-align: center;}



.detial-commodity dd.forth-btn{width:150px;border-left:1px solid #ccc;  float: left;height: 140px;}
.detial-commodity dd.forth-btn .one li{font-size:14px;color:#333;width:118px;height:28px;line-height:28px;text-align: center;border:1px solid #ccc; margin:55px auto;}
.detial-commodity dd.forth-btn .two{margin:30px 0;}
.detial-commodity dd.forth-btn .two li{font-size:14px;color:#333; width:118px;height:28px;line-height:28px;text-align: center;border:1px solid #ccc; margin:10px auto;}
/*订单管理 列表end*/
/*订单编辑*/
.order-edit{position: absolute;z-index: 10;top:10px;left:20px;}
.edit-order{padding:30px;background:#fff;width:870px}
.edit-order .title{width:870px; text-align: center; border-bottom: 1px solid #ccc;margin-bottom:20px;padding-bottom:30px;font-size:18px;color:#333; }
.edit-order .order-mes{font-size:18px;color:#333; margin: 10px 0;}
.edit-order .process{width:864px;margin:0 auto;overflow:hidden;}
.edit-order .process li{width:96px; float:left;}
.edit-order .process i{display:block; width:50px;height:50px;margin:0 auto; }
/*过程小图标*/
.edit-order .process i.order{ background: url("../images/order_icon.png") 11px -40px no-repeat;}
.edit-order .process i.arrow{ background: url("../images/order_icon.png") -220px -30px no-repeat;}
.edit-order .process i.pay{ background: url("../images/order_icon.png") -31px -41px no-repeat;}
.edit-order .process i.distribution{ background: url("../images/order_icon.png") -75px -38px no-repeat;}
.edit-order .process i.retrieval{ background: url("../images/order_icon.png") -123px -36px  no-repeat;}
.edit-order .process i.finish{ background: url("../images/order_icon.png") -169px -37px no-repeat;}
.edit-order .process span{display:block; width:96px; text-align:center; font-size:14px;line-height:22px;}
.edit-order .process li.active i.order{background: url("../images/order_icon.png") 11px 6px no-repeat;}
.edit-order .process li.active i.arrow{background: url("../images/order_icon.png") -220px 12px no-repeat;}
.edit-order .process li.active i.pay{background: url("../images/order_icon.png") -31px 4px no-repeat;}
.edit-order .process li.active i.distribution{background: url("../images/order_icon.png") -75px 6px no-repeat;}
.edit-order .process li.active i.retrieval{background: url("../images/order_icon.png") -123px 7px  no-repeat;}
.edit-order .process li.active i.finish{background: url("../images/order_icon.png") -169px 7px no-repeat;}
/*过程小图标end*/
.edit-order .process span.mes{color:#333; margin-top:10px;}
.edit-order .process span.time{color:#999;}
.edit-order .process li.active span.mes{color:#e4624f; }
.editable{width:852px; border:1px solid #ccc;margin-top:60px;padding:0 5px;}
.editable .title-e{color:#333;font-size:18px; padding:15px; text-align:left;}
.editable .list-e{overflow:hidden;}
.editable .list-e li{ float:left;margin:10px;}
.editable .list-e .line1{font-size:14px; color:#333; padding:14px 0 21px 0; }
.editable .list-e .line1 span{color:#e4624f}
.editable .list-e .line2 a{display:inline-block; font-size:14px; color:#333;text-align:center; line-height:28px;}
.editable .list-e .image{width:98px; height:105px; border:1px solid #ccc; }
.editable .list-e .num .line2{width:118px;height:28px; border:1px solid #ccc;}
.editable .list-e .num .line2 a{display:inline-block;width:38px;height:28px;float:left; }
.editable .list-e .num .line2 input{width:40px;height:28px;border:1px solid #ccc;border-top:0;border-bottom:0;text-align:center; float:left;font-size:14px; color:#333;}
.editable .list-e .model .line2 a,
.editable .list-e .color .line2 a{ width:98px;height:28px;border:1px solid #ccc; margin-right:5px;}
.editable .list-e .money .line2 input{ width:88px;height:28px;padding:0 5px;border:1px solid #ccc; margin-right:5px;font-size:14px; color:#333;}
.user-e{overflow:hidden;width:360px;}
.user-e li{margin-bottom:10px;overflow:hidden;height:24px;}
.user-e .left{width:92px;height:22px; line-height:22px;font-size:14px; color:#999; text-align:right;float:left;}
.user-e .left span{color:#e4624f}
.user-e .right{width:260px;height:22px; line-height:22px;font-size:14px; color:#999; text-align:left;float:left;}
.user-e .right input{width:248px;padding:0 5px; border:1px solid #ccc;height:22px;}
.user-e .right select{width:78px;padding:0 5px; border:1px solid #ccc;height:22px;}
.btn-e{ text-align:center; padding:60px 0;}
.btn-e a{display:inline-block;width:98px;height:28px; border:1px solid #e4624f; text-align:center;font-size:14px;line-height:28px;}
.btn-e a.save{color:#fff;background:#e4624f;margin-right:20px;}
.btn-e a.canle{color:#e4624f;background:#fff;}
/*订单过程*/
.order-state-img p{width:200px;height:100px;text-align: center;margin-top:30px;}
.order-state-box .order-state-text,.order-state-box .order-state-time{display: block;}
.order-state-text{margin:15px 0 10px 0px;}
.order-state-box .order-state-time{font-size: 12px;}
.order-state-box .order-state-icon{width:24px;height:31px;display: block;margin-left:44px;}
.order-state-icon-box{height:40px;}
.order-state-box .text-center{width:112px;display: block;}
.order-state-box .text-center span{text-align: center;}
.active .order-state-text{color: #e4624f;}
/*小箭头*/
.order-state-img .order-state-box .active .arrow{margin:6px 0 0 65px;width:15px;height:17px;background:url(../images/order_icon.png) no-repeat -224px -4px;display: inline-block;}
.order-state-img .order-state-box .arrow{margin:6px 0 0 65px;width:15px;height:17px;background:url(../images/order_icon.png) no-repeat -224px -46px;display: inline-block;}

/*下单*/
.order-state-buy .active .order-state-ico{background:url("../images/order_icon.png") no-repeat -2px -2px;}
.order-state-buy .order-state-icon{background:url("../images/order_icon.png") no-repeat -2px -46px;}
/*支付*/
.order-state-pay .order-state-icon{width:30px;height:38px;display: block;}
.order-state-pay .active .order-state-ico{background:url("../images/order_icon.png") no-repeat -41px -2px;}
.order-state-pay .order-state-ico{background:url("../images/order_icon.png") no-repeat -41px -46px;}
/*配货*/
.order-state-distribu .order-state-icon{width:34px;height:34px;display: block;}
.order-state-distribu .active .order-state-ico{background:url("../images/order_icon.png") no-repeat -84px -2px;}
.order-state-distribu .order-state-ico{background:url("../images/order_icon.png") no-repeat -84px -46px;}
/*出库*/
.order-state-out .order-state-icon{width:36px;height:30px;display: block;}
.order-state-out .active .order-state-ico{background:url("../images/order_icon.png") no-repeat -130px -2px;}
.order-state-out .order-state-ico{background:url("../images/order_icon.png") no-repeat -130px -46px;}
/*成功*/
.order-state-succ .order-state-icon{width:32px;height:32px;display: block;}
.order-state-succ .active .order-state-ico{background:url("../images/order_icon.png") no-repeat -178px -2px;}
.order-state-succ .order-state-ico{background:url("../images/order_icon.png") no-repeat -178px -46px;}

/*订单编辑结束*/
/*售后*/
.cus-service{width:968px; border:1px solid #ccc;border-bottom:0;}
.cus-service dt{height:48px;background:#f5f5f5;border-bottom:1px solid #ccc;}
.cus-service dt li{height:48px;line-height:48px; text-align:center; float:left; border-right:1px solid #ccc; font-size:14px;color:#333;}
.cus-service dt li.no-boder{border:0;}
.cus-service dd{height:50px;border-bottom:1px solid #ccc;}
.cus-service dd li{height:50px;line-height:50px; text-align:center; float:left; border-right:1px solid #ccc;font-size:14px;color:#333;}
.cus-service dd li.no-boder{border:0;}
.cus-service dd li.blue{ color:#4f8ee4;}
.cus-service dd li.red{color:#e4624f;}
.cus-service dd li a{font-size:14px; color:#4f8ee4;}
.w124{width:124px;}
.w156{width:156px;}
.w60{width:60px;}
.w110{width:110px;}
.w116{width:116px;}
.w94{width:94px;}
.w77{width:77px;}
.w68{width:68px;}

/*售后END*/
/*商品管理*/
.condition .normol-t li{margin-right:27px}
.condition .normol-t li input{width:178px;height:22px;}
.condition .normol-t li input.money{width:148px;}
.condition .ditial-th li{margin-right:125px}
.w124{width: 124px;}
.w156{width: 156px;}
.w190{width: 190px;}
.w110{width: 110px;}
.w118{width: 118px;}
.w154{width: 154px;}
/*商品管理END*/

/*用户管理*/
.condition .normol-t li input.w160{width: 160px;}
.condition .normol-t li input.w118{width: 118px;}
.condition .ditial-th li.margin-r-20{margin-right: 20px;}
.condition .ditial-th li.margin-r-50{margin-right: 50px;}
.condition .ditial-th li.margin-r-80{margin-right: 80px;}
.after-type{ margin-top:4px;}
.condition .normol .after-type .radio li{margin-right:20px;}
.w240{width:240px;}
.w242{width:242px;}
.condition .normol .after-type .radio .no-margin{margin: 0;}
.user-phone,.user-state{cursor: pointer;}
/*用户详情*/
.user-details{width:800px;height:400px;background:#fff;position:absolute;left:206px;top:360px;z-index:100;display: none;}
.pop-content{width:100%;height:324px;margin:0 30px;overflow: hidden;}
.pop-content-left,.pop-content-right{width:369px;float:left;margin-top:33px;}
.pop-input-type{width:95px;text-align: right;display: inline-block;color:#999;}
.pop-content-left div,.pop-content-right div{height:38px;line-height:38px;}
.pop-content input,.pop-content select{width:198px;height:24px;border:1px solid #ccc;}
.user-details-btn{width:92%;text-align: center;float:left;margin-top:54px;}
.user-details-btn input{width:98px;height:28px;border:1px solid #e4624f;border-radius: 1px;background: #fff;color:#e4624f;cursor: pointer;}
.user-details-btn input.deter{background: #e4624f;color:#fff;margin-right:20px;}
.close{display: block;width: 24px;height: 24px;background: url(../images/x.png) no-repeat 0 0;position: absolute;right:0;top:26px;cursor: pointer;}

/*用户管理END*/

/*后台管理*/
.admin-user{width: 850px;height:600px;position:absolute;top:260px;left:180px;z-index: 100;background: #fff;display: none;}
.admin-top{width:752px;height:188px;border-bottom: 1px solid #ccc;margin-left:30px;padding-left: 30px;}
.admin-top-left,.admin-top-right{width:50%;}
.admin-top-left p,.admin-top-right p{height:34px;line-height: 34px;}
.admin-bottom{width:92%;height:337px;margin-left:30px;padding-left:30px;}
.admin-bottom p{height:32px; line-height: 32px;}
.basic-inf{margin:30px 0 20px 0;}
#admin-state{width:178px;height:24px;border:1px solid #ccc;}
.admin-user-btn{width:752px;text-align: center;position: absolute;bottom:30px;}
.admin-user-btn .keep,.admin-user-btn .cancel{width:98px;height:28px;border:1px solid #e4624f;border-radius: 1px;background: #fff;color:#e4624f;cursor: pointer;}
.admin-user-btn input.keep{background: #e4624f;color:#fff;margin-right:20px;}

.add-admin{width: 850px;height:500px;position:absolute;top:260px;left:180px;z-index: 100;background: #fff;display: none;}
.add-admin-top{width:752px;height:100px;border-bottom: 1px solid #ccc;margin-left:30px;padding-left: 30px;}
.add-admin-top input{width:178px;height:24px;border:1px solid #ccc;}
/*后台管理END*/





/*小弹窗*/
.small-pop{width: 338px;height: 200px;background: #fff;position: absolute;top:360px;left:435px;z-index:100;display: none;}
.small-pop-text{height: 128px;line-height: 128px;text-align: center;}
.small-pop-btn{width:100%;text-align: center;}
.small-pop-btn input{width:98px;height:28px;border:1px solid #e4624f;border-radius: 1px;background: #fff;color:#e4624f;cursor: pointer;}
.small-pop-btn input.deter{background: #e4624f;color:#fff;margin-right:20px;}
/*自定义单选按钮*/
.selected{width:16px;height:16px;display: inline-block;background: url(../images/icon.png) no-repeat 0 -352px;cursor: pointer;}
.not-selected{width:16px;height:16px;display: inline-block;background: url(../images/icon.png) no-repeat 0 -334px;cursor: pointer;}

/*公用*/
.orange{color:#e4624f;}
.margin-r-30{margin-right:30px;}
.margin-r-10{margin-right:10px;}
.margin-t-20{margin-top:20px;}
.margin-t-30{margin-top:30px;}
.margin-t-23{margin-top:23px;}
.margin-l-25{margin-left:25px;}
.margin-l-8{margin-left:8px;}
.margin-10{margin: 10px;}
.no-margin{margin: 0;}
.no-boder{border:0;}
.float-l{float:left;}
.float-r{float:right;}
.color-999{color:#999;}































