html,body{height:100%;}
/*登录输入框样式star*/
.login-box{width:548px;height:358px; position:absolute; top:50%;left:50%;margin-left:-274px;margin-top:-179px;border:1px solid #e4e4e4;background:url(images/logo.jpg) center 50px no-repeat;}
.form-user{width:305px; margin:124px auto 0 auto;}
.form-user input{display:block;width:277px;height:43px;padding:0 14px;line-height:43px;font-size:14px; border:1px solid #e4e4e4; margin-bottom:20px;color:#666666;}
.form-user input.btn{width:307px;border:1px solid #e4e4e4; background:#fff; text-align:center; color:#666666;}
/*登录输入框样式end*/
/*左侧菜单STAR*/
.order-box{width:1200px; height:100%; margin:0 auto;}
.order-box .nav{width:200px;height:100%; float:left; background:#343843;}
.order-box .nav li{width:200px; height:60px;line-height:60px;  }
.order-box .nav li.active{background:#292c35;}
.order-box .nav li.logo{background: url(images/icon.png) center 14px no-repeat #e4624f;}
.order-box .nav li a{display:block;width:134px;padding-left:66px; font-size:18px;  color:#cccccc;}
.order-box .nav li a.icon1{background:url(images/icon.png) 16px -34px no-repeat;}
.order-box .nav li a.icon2{background:url(images/icon.png) 21px -94px no-repeat;}
.order-box .nav li a.icon3{background:url(images/icon.png) 21px -154px no-repeat;}
.order-box .nav li a.icon4{background:url(images/icon.png) 22px -214px no-repeat;}
.order-box .nav li a.icon5{background:url(images/icon.png) 21px -274px no-repeat;}
.wrap{width:1000px; float:left;}
.wrap .user{height:60px; line-height:60px;color:#cccccc;font-size:18px;background:#343843;padding:0 20px; text-align:right;}
/*左侧菜单END*/
/*订单管理star*/

.condition{padding:10px 30px 29px 0;}
/*订单管理end*/