a{color:#007bc4/*#424242*/; text-decoration:none;}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{height:100%; font:12px/18px Tahoma, Helvetica, Arial, Verdana, "\5b8b\4f53", sans-serif; color:#51555C;}
img{border:none}
.clearfix:after{ clear:both; display:block;	content:'';}
.clearfix{ zoom:"1";}
textarea{resize:none;}
/*头部*/
header{height:60px;width:1200px;margin:0 auto;}
.logo{width:200px; height:60px;background: url(../images/icon.png) center 14px no-repeat #e4624f;display:inline-block;float:left;}
header .user{width:980px;height:60px; line-height:60px;color:#cccccc;font-size:18px;background:#343843;text-align:right;float:left;padding-right:20px;}
/*退出*/
.login-out{margin-left: 10px;cursor: pointer;}
/*遮罩层样式*/
.mask-bg{width: 100%;height: 100%;background: #000;opacity:0.3;position:fixed;z-index:9;display:none;}
/*登录输入框样式star*/
.login-box{width:548px;height:358px; position:absolute; top:50%;left:50%;margin-left:-274px;margin-top:-179px;border:1px solid #e4e4e4;background:url(../images/logo.jpg) center 50px no-repeat;}
.form-user{width:305px; margin:124px auto 0 auto;}
.form-user input{display:block;width:277px;height:43px;padding:0 14px;line-height:43px;font-size:14px; border:1px solid #e4e4e4; margin-bottom:20px;color:#666666;}
.form-user input.btn{width:307px;border:1px solid #e4e4e4; background:#fff; text-align:center; color:#666666;}
/*登录输入框样式end*/
/*左侧菜单STAR*/
.order-box{width:1200px; height:100%; margin:0 auto;position:relative;}
.order-box .nav{width:200px;height:100%; min-height:300px;float:left; background:#343843;}
.order-box .nav li{width:200px; height:60px;line-height:60px;}
.order-box .nav li.active{background:#292c35;}
.order-box .nav li.logo{background: url(../images/icon.png) center 14px no-repeat #e4624f;}
.order-box .nav li a{display:block;width:134px;padding-left:66px; font-size:18px;  color:#cccccc;}
.order-box .nav li a.icon1{background:url(../images/icon.png) 16px -34px no-repeat;}
.order-box .nav li a.icon2{background:url(../images/icon.png) 21px -94px no-repeat;}
.order-box .nav li a.goods{background:url(../images/icon.png) 21px -154px no-repeat;}
.order-box .nav li a.icon4{background:url(../images/icon.png) 22px -214px no-repeat;}
.order-box .nav li a.icon5{background:url(../images/icon.png) 21px -274px no-repeat;}
.wrap{width:1000px;  float:left; position: relative;}

/*左侧菜单END*/
/*订单管理 条件star*/
.condition{padding-top:30px; width:1000px;margin-left:30px; overflow:hidden;}
.condition .normol,.condition .ditail,.condition .state{margin-bottom:20px;overflow: hidden;}
.condition .normol li{float:left;  margin-right: 21px;}
.condition .normol span{font-size:16px;color:#ccc;}
.condition .normol input{width:228px;height:22px;border:1px solid #ccc; }
.condition .ditail li{float:left; margin-right:18px;}
.condition .ditail span{font-size:16px;color:#ccc;}
.condition .ditail input{width:178px;height:22px;border:1px solid #ccc; }
.condition .state li{ float:left;font-size:16px;color:#ccc; margin-right: 50px;}
.condition .state .r{display:inline-block;  margin-right: 5px; float:left;}
.condition .state .w{display:inline-block;float:left;font-size:16px;color:#ccc;}
.search-box{width:970px;border-bottom:1px solid #cccccc; padding-bottom:30px;}
.condition .search{font-size: 16px;display:block;width:120px;height:30px; background:#e4624f; text-align:center;line-height:30px; color:#fff; margin:0 auto;}
.goods-detial-img{width:98px; height:98px;}
/*第二页*/
.condition .margin-t li{float:left;  margin-right: 16px;}
.condition .ditail .radio li,.condition .state-t .radio li{float:left;font-size:16px;color:#ccc; margin-right:45px;}
.condition .ditail .radio span.r,.condition .state-t .radio span.r{display:inline-block; width:16px; height:16px;  margin-right: 5px; float:left;}
.condition .ditail .radio span.w,.condition .state-t .radio span.w{display:inline-block;float:left;font-size:16px;color:#ccc;}

/*订单管理 条件end*/
/*订单管理 列表star*/
.list{width:970px;margin-left:30px; padding-top:30px;padding-bottom:30px;}
.list .btn{display:block;font-size:16px;color:#e4624f;width:118px;height:29px;line-height:29px;border:1px solid #ccc; text-align:center; margin-bottom:30px;}
.order-list{width:970px; margin-bottom:30px;}
.order-list .detial-state{overflow:hidden; height:68px; background:#f5f5f5; border:1px solid #ccc;}
.order-list .detial-state li{float:left; line-height:68px;  margin: 0 8px;}
.order-list .detial-state span.detial-n{font-size:14px;color:#999;}
.order-list .detial-state span.detial-w{font-size:14px;color:#333;}
.order-list .detial-state li.detial-z{float:right;}
.order-list .detial-state li.detial-z span{color:#e4624f;margin-right:10px;}
.detial-commodity{width:968px;height:140px;border:1px solid #ccc;border-top:none; }
.detial-commodity dt{display: inline-block;width:98px;height:98px;border:1px solid #ccc; margin:20px 20px; float:left;}
.detial-commodity dd.second-w{width:526px;display: inline-block;float:left;margin:57px 0;}
.detial-commodity dd.second-w dd{float:left;height:26px;line-height:26px;  margin-right: 30px; font-size: 14px;}
.detial-commodity dd.third-w{width:150px;border-left:1px solid #ccc;  float: left;height: 140px;}
.detial-commodity dd.third-w .one li{cursor: pointer;font-size:14px;color:#333;  line-height: 140px;text-align: center;}
.detial-commodity dd.third-w .two{margin:44px 0;}
.detial-commodity dd.third-w .three{margin:31px 0;}
.detial-commodity dd.third-w .two li,.detial-commodity dd.third-w .three li{cursor: pointer;font-size:14px;color:#333; height:26px;line-height:26px; text-align: center;}
.order-logist-btn{position: relative;}
.order-express-box:hover{border: 1px solid #ccc;border-bottom: 1px solid #fff;z-index:2;position: relative;}
.order-express-box:hover .express-box{display:block;top: 26px;}
.express-box{width:260px;display:none;padding:20px 0 25px 20px;line-height:38px;position: absolute;left:-65px;top:-100px;border: 1px solid #ccc;background:#fff;text-align: left;-webkit-transition:.4s all ease;transition: .4s all ease;}


.detial-commodity dd.forth-btn{width:150px;border-left:1px solid #ccc;float: left;height: 140px;}
.detial-commodity dd.forth-btn .one li{font-size:14px;color:#333;width:118px;height:28px;line-height:28px;text-align: center;border:1px solid #ccc; margin:55px auto;cursor: pointer;}
.detial-commodity dd.forth-btn .two{margin:30px 0;}
.detial-commodity dd.forth-btn .two li{font-size:14px;color:#333; width:118px;height:28px;line-height:28px;text-align: center;border:1px solid #ccc; margin:10px auto;cursor: pointer;}
.detial-commodity dd.forth-btn .three li{font-size:14px;color:#333; width:118px;height:28px;line-height:28px;text-align: center;border:1px solid #ccc; margin:12px auto;cursor: pointer;}
/*订单管理 列表end*/
/*订单编辑*/
.edit-order{display:none;position: absolute;z-index: 10;top:10px;left:20px;padding:30px;background:#fff;width:870px}
.edit-order .title{width:870px; text-align: center; border-bottom: 1px solid #ccc;margin-bottom:20px;padding-bottom:30px;font-size:18px;color:#333; }
.edit-order .order-mes{font-size:18px;color:#333; margin: 10px 0;}
.edit-order .process{width:864px;margin:0 auto;overflow:hidden;}
.edit-order .process li{width:96px; float:left;}
.edit-order .process i{display:block; width:50px;height:50px;margin:0 auto; }
.order-price{ font-size:18px; color:#e4624f;}
.order-price-box{text-align: right;margin-right:30px;margin-bottom:20px;}

.edit-order .process span.mes{color:#333; margin-top:10px;}
.edit-order .process span.time{color:#999;}
.edit-order .process li.active span.mes{color:#e4624f; }
.editable{width:852px; border:1px solid #ccc;margin-top:60px;padding:0 5px; margin-bottom:30px;}
.editable .title-e{color:#333;font-size:18px; padding:15px; text-align:left;}
.editable .list-e{overflow:hidden;}
.editable .list-e li{ float:left;margin:10px;}
.editable .list-e .line1{font-size:14px; color:#333; padding:14px 0 21px 0; }
.editable .list-e .line1 span{color:#e4624f}
.editable .list-e .line2 a{display:inline-block; font-size:14px; color:#333;text-align:center; line-height:28px;}
.editable .list-e .image{width:98px; height:105px; border:1px solid #ccc; }
.editable .list-e .num .line2{width:118px;height:28px; border:1px solid #ccc;}
.editable .list-e .num .line2 a{display:inline-block;width:38px;height:28px;float:left; }
.editable .list-e .num .line2 input{width:40px;height:28px;border:1px solid #ccc;border-top:0;border-bottom:0;text-align:center; float:left;font-size:14px; color:#333;}
.editable .list-e .model .line2 a,.editable .list-e .color .line2 a{ width:98px;height:28px;border:1px solid #ccc; margin-right:5px;}
.editable .list-e .color .line2 a,.editable .list-e .model .line2 a{float: left;margin-bottom:10px;}
.editable .list-e .color,.editable .list-e .model{ width:210px;}
.editable .list-e .model .line2 .active-size{border:1px solid red; color: red;}
.editable .list-e .money .line2 input{ width:88px;height:28px;padding:0 5px;border:1px solid #ccc; margin-right:5px;font-size:14px; color:#333;}
.user-e{overflow:hidden;width:360px;}
.user-e li{margin-bottom:10px;overflow:hidden;height:24px;}
.user-e .left{width:92px;height:22px; line-height:22px;font-size:14px; color:#999; text-align:right;float:left;}
.user-e .left span{color:#e4624f}
.user-e .right{width:260px;height:22px; line-height:22px;font-size:14px; color:#999; text-align:left;float:left;}
.user-e .right input{width:248px;padding:0 5px; border:1px solid #ccc;height:22px;}
.user-e .right select{width:78px;padding:0 5px; border:1px solid #ccc;height:22px;}
.btn-e{ text-align:center;}
.btn-e a{display:inline-block;width:98px;height:28px; border:1px solid #e4624f; text-align:center;font-size:14px;line-height:28px;}
.btn-e a.save{color:#fff;background:#e4624f;margin-right:20px;}
.btn-e a.canle{color:#e4624f;background:#fff;}
/*订单过程*/
.order-state-img p{width:200px;height:100px;text-align: center;margin-top:30px;}
.order-state-box .order-state-text,.order-state-box .order-state-time{display: block;}
.order-state-text{margin:15px 0 10px 0px;}
.order-state-box .order-state-time{font-size: 12px;}
.order-state-box .order-state-icon{width:24px;height:31px;display: block;margin-left:44px;}
.order-state-icon-box{height:40px;}
.order-state-box .text-center{width:112px;display: block;}
.order-state-box .text-center span{text-align: center;}
.active .order-state-text{color: #e4624f;}
/*小箭头*/
.order-state-img .order-state-box .active .arrow{margin:6px 0 0 65px;width:15px;height:17px;background:url(../images/order_icon.png) no-repeat -224px -4px;display: inline-block;}
.order-state-img .order-state-box .arrow{margin:6px 0 0 65px;width:15px;height:17px;background:url(../images/order_icon.png) no-repeat -224px -46px;display: inline-block;}
/*订单编辑结束*/
/*订单详情*/
.order-det{position: absolute;z-index: 10;top:10px;left:20px;display:block;}
.edit-detial{width:852px; border:1px solid #ccc;margin-top:60px;padding:0 5px; margin-bottom:30px;}
.title-e{color:#333;font-size:18px; padding:15px; text-align:left;}
.edit-detial .list-e{overflow:hidden;}
.edit-detial .list-e li{ float:left;margin:10px;width:98px;height:98px;font-size:14px;color:#333;line-height:98px; text-align:center;}
.edit-detial .list-e li.image{border:1px solid #ccc; }
.edit-detial .list-e li.money{float:right;width:238px; text-align:right;}
.edit-detial .list-e li.money span{color:#e4624f;display:inline-block;line-height:98px;}
.user-de{margin-top:25px;}
.user-de li{margin-bottom:10px;overflow:hidden;height:24px;font-size:14px; color:#999;}
.border-de{border-bottom:1px solid #ccc; padding-bottom:10px;}
.padding10{padding-top:10px;}
/*订单详情end*/
/*商品详情star*/
.goods-detial li{ margin-bottom:30px;font-size:14px;overflow:hidden;}
.goods-detial li .left{width:100px;height:26px;line-height:26px;color:#999;float:left;}
.goods-detial li .right{width:765px;line-height:26px;color:#333;float:left; display:block;}
.goods-detial .goods-color,.goods-detial .goods-size,.goods-size-c{overflow:hidden;}
.goods-detial .goods-color li{float:left;margin:0 5px;}
.goods-detial .goods-color li input{width:140px; padding:0 10px;}
.goods-detial .goods-color .file{width: 46px;height: 17px;margin-left: -67px;opacity: 0;filter:alpha(opacity=0);}
.goods-detial .goods-size{line-height:20px;color:#333;}
.goods-detial .goods-size li{width:80px; margin-bottom:10px;}
.goods-detial .goods-color li{margin-bottom:20px;}
.goods-detial .goods-color li.color{width:42px;background:#AB988A;height:26px;}
.goods-detial .goods-color li img{width:0;height:0;border:0;}
.goods-detial li select{width:180px;border:1px solid #ccc; height:24px;}
.goods-detial li.detial1{width:1000px;}
.goods-detial li .line1{width:306px;}
.goods-detial li .line1 .c3{color:#333;}
.goods-detial li .line1 .c9{color:#999;}
.goods-detial li .r{color:#e4624f;}
.goods-detial li input{height:24px;border:1px solid #ccc; width:160px; padding:0 10px;}
.goods-detial li input.goods-img{width:56px;padding:0;position: absolute;left:0; top:0;opacity:0;z-index:99;cursor: pointer;}
.goods-detial .goods-color li.col{overflow:hidden;}
.goods-detial .goods-color li.col input{float:left;}
.goods-detial .goods-color li i{display:inline-table; height:26px; width:50px;float:left; margin-left:-50px;}
.goods-detial li a{color:#4f8ee4;}
.goods-size-c li{width:200px;float:left; text-align:center; margin-bottom:10px;}
.goods-detial li textarea{width:763px;height:210px;border:1px solid #ccc; }
.goods-detial li.add,.goods-size-c li.add{width:24px;height:24px;background:url(../images/add.png) no-repeat 0 0;cursor: pointer;}
.goods-detial li.remove,.goods-size-c li.remove{width:24px;height:24px;background:url(../images/add.png) no-repeat 0 -45px;cursor: pointer;}
.goods-detial li.detial-color{width:435px;float:left; margin:0;}
.goods-detial li.detial-color .right{width:330px;}
.goods-detial li.edit-left{width:590px;}
.goods-detial li.edit-left .right{width:490px;}
.goods-detial li.edit-left .right .color-input{width:100px; float:left;}
.goods-detial li.edit-left .right .color{width:40px; float:left; height:26px; background:#fff;}
.goods-detial li.edit-right{width:280px;}
.goods-detial .edit-right .goods-size li{width:180px}
.goods-detial .edit-right .goods-size input{width:114px;margin-right: 8px;}
.goods-detial li.edit-right .right{width:180px;}
.goods-detial li.edit-right .left{width:90px;padding-right:10px; text-align:right;}
.goods-detial .margin-none{ margin:0;}
.detial-table{margin-bottom:30px;border:1px solid #ccc;}
.detial-table td{height:48px;line-height:48px;text-align:center;font-size:14px;color:#333;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.detial-table.b td{border:1px solid #ccc; }
.detial-table td input{border:1px solid #ccc; padding:4px 10px;width:110px;margin:0 auto;font-size:14px;color:#333;}
.detial-table td.border{border-bottom:1px solid #ccc;}
.detial-table .title{background:#f5f5f5;}
.detial-table td.red{color:#e4624f;}
/*商品详情end*/
/*售后*/
.cus-service{width:968px; border:1px solid #ccc;border-bottom:0;}
.cus-service dt{height:48px;background:#f5f5f5;border-bottom:1px solid #ccc;}
.cus-service dt li{height:48px;line-height:48px; text-align:center; float:left; border-right:1px solid #ccc; font-size:14px;color:#333;}
.cus-service dt li.no-boder{border:0;}
.cus-service dd{height:50px;border-bottom:1px solid #ccc;}
.cus-service dd li{height:50px;line-height:50px; text-align:center; float:left; border-right:1px solid #ccc;font-size:14px;color:#333;}
.cus-service dd li.no-boder{border:0;}
.cus-service dd li.blue{ color:#4f8ee4;}
.cus-service dd li.red{color:#e4624f;}
.cus-service dd li a{font-size:14px; color:#4f8ee4;}
.w124{width:124px;}
.w156{width:156px;}
.w60{width:60px;}
.w110{width:110px;}
.w116{width:116px;}
.w94{width:94px;}
.w77{width:77px;}
.w68{width:68px;}

/*售后END*/
/*商品管理*/
.condition .normol-t li{margin-right:0px}
.condition .normol-t li input{width:178px;height:22px;}
.condition .normol-t li input.money{width:148px;}
.cus-adm{width:968px; border:1px solid #ccc;border-bottom:0;}
.cus-adm dt{height:48px;background:#f5f5f5;border-bottom:1px solid #ccc;}
.cus-adm dt li{height:48px;line-height:48px; text-align:center; float:left; border-right:1px solid #ccc; font-size:14px;color:#333;}
.cus-adm dt li.no-boder{border:0;}
.cus-adm dd{overflow:hidden;border-bottom:1px solid #ccc;}
.cus-adm dd ul{overflow:hidden; height:auto;}
.cus-adm dd li{height:100%;text-align:center; float:left; border-right:1px solid #ccc;font-size:14px;color:#333; position:relative;}
.cus-adm dd li p{height:49px;border-bottom:1px solid #ccc;line-height:49px;text-align:center;}
.cus-adm dd li.no-boder,.cus-adm dd li .no-boder{border:0;}
.cus-adm dd li.blue{ color:#4f8ee4;}
.cus-adm dd li.red{color:#e4624f;}
.cus-adm dd li a{font-size:14px; color:#4f8ee4;}
.cus-adm dd li.w124 p,
.cus-adm dd li.w156 p,
.cus-adm dd li.w110 p,
.cus-adm dd li.w154 p{ position:absolute; top:50%;margin-top:-25px; border:none; text-align:center; width:100%;}
.w124{width: 124px;}
.w156{width: 156px;}
.w190{width: 190px;}
.w110{width: 110px;}
.w118{width: 118px;}
.w154{width: 154px;}
/*商品管理END*/

/*用户管理*/
.condition .normol-t li input.w160{width: 160px;}
.condition .normol-t li input.w118{width: 118px;}
.condition .ditial-th li.margin-r-20{margin-right: 20px;}
.condition .ditial-th li.margin-r-50{margin-right: 50px;}
.after-type{ margin-top:4px;}
.condition .normol .after-type .radio li{margin-right:20px;}
.w240{width:240px;}
.w242{width:242px;}
.condition .normol .after-type .radio .no-margin{margin: 0;}
.user-phone,.user-state{cursor: pointer;}
/*用户详情*/
.user-details{width:800px;height:400px;background:#fff;position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-100px;z-index:100;display: none;}
.pop-content{width:100%;height:324px;margin:0 30px;overflow: hidden;}
.pop-content-left,.pop-content-right{width:369px;float:left;margin-top:33px;}
.pop-title{width:92%;height:78px;line-height: 78px;color:#333;text-align: center;position: relative;font-size:18px;border-bottom:1px solid #ccc;margin:0 30px;}
.pop-input-type{width:95px;text-align: right;display: inline-block;color:#999;}
.pop-content-left div,.pop-content-right div{height:38px;line-height:38px;}
.pop-content input,.pop-content select{width:198px;height:24px;border:1px solid #ccc;}
.user-details-btn{width:92%;text-align: center;float:left;margin-top:54px;}
.user-details-btn input{width:98px;height:28px;border:1px solid #e4624f;border-radius: 1px;background: #fff;color:#e4624f;cursor: pointer;}
.user-details-btn input.deter{background: #e4624f;color:#fff;margin-right:20px;}
.close{display: block;width: 24px;height: 24px;background: url(../images/x.png) no-repeat 0 0;position: absolute;right:0;top:26px;cursor: pointer;}
.close-x{display: block;width: 24px;height: 24px;background: url(../images/x.png) no-repeat 0 0;position: absolute;right:30px;top:26px;cursor: pointer;}
/*用户管理END*/

/*后台管理*/
.admin-user{width: 850px;height:600px;position:absolute;top:20px;left:10px;z-index: 100;background: #fff;display: none;}
.admin-top{width:752px;height:188px;border-bottom: 1px solid #ccc;margin-left:30px;padding-left: 30px;}
.admin-top-left,.admin-top-right{width:50%;}
.admin-top-left p,.admin-top-right p{height:34px;line-height: 34px;}
.admin-bottom{width:92%;height:337px;margin-left:30px;padding-left:30px;}
.admin-bottom p{height:32px; line-height: 32px;}
.basic-inf{margin:30px 0 20px 0;}
#admin-state{width:178px;height:24px;border:1px solid #ccc;}
.admin-user-btn{width:752px;text-align: center;position: absolute;bottom:30px;}
.admin-user-btn .keep,.admin-user-btn .cancel{width:98px;height:28px;border:1px solid #e4624f;border-radius: 1px;background: #fff;color:#e4624f;cursor: pointer;}
.admin-user-btn input.keep{background: #e4624f;color:#fff;margin-right:20px;}
.cus-service dd li .blue{ color:#4f8ee4;}
.cus-service dd li .red{color:#e4624f;}
.add-admin{width: 850px;height:500px;position:absolute;top:20px;left:10px;z-index: 100;background: #fff;display: none;}
.add-admin-top{width:752px;height:100px;border-bottom: 1px solid #ccc;margin-left:30px;padding-left: 30px;}
.add-admin-top input{width:178px;height:24px;border:1px solid #ccc;}
/*后台管理END*/





/*小弹窗*/
.small-pop{width: 338px;height: 200px;font-size:14px;background: #fff;position: absolute;top:10%;left:50%;margin-left:-169px;z-index:100;display: none;}
.small-pop-text{height: 128px;line-height: 128px;text-align: center;color:#999;}
.small-pop-btn{width:100%;text-align: center;}
.small-pop-btn input{width:98px;height:28px;border:1px solid #e4624f;border-radius: 2px;background: #fff;color:#e4624f;cursor: pointer;}
.small-pop-btn input.deter{background: #e4624f;color:#fff;margin-right:20px;}
.small-pop p.select-box{width: 254px;display: inline-block;text-align: right;margin-left:42px;}
.small-pop select{width: 158px;height:28px;border:1px solid #ccc;margin-left:15px;}
#refuse{width: 276px;height:78px;border:1px solid #ccc;margin:29px 0 20px 21px;padding:10px;font-size:14px;color:#999;resize:none;}
/*库存编辑*/
.stock-edit{width:686px;background:#fff;position: absolute;top:50%;left:50%;margin-left:-343px;margin-top:-200px;text-align:center;z-index:100;-display: none;padding-bottom:60px; display:none;}
.stock-edit .stock-edit-title{font-size:18px;color:#333;height:76px;line-height:76px;border-bottom:1px solid #ccc;margin:0 20px;position: relative;}
.stock-edit .stock-edit-title span{font-size:18px;color:#333;}
.stock-edit p input{width:178px;height:24px;border:1px solid #ccc;margin-left:70px;}
.stock-edit span{color:#666;font-size:14px;}
/*自定义单选按钮*/
.selected{width:16px;height:16px;display: inline-block;background: url(../images/icon.png) no-repeat 0 -352px;cursor: pointer;}
.not-selected{width:16px;height:16px;display: inline-block;background: url(../images/icon.png) no-repeat 0 -334px;cursor: pointer;}





/*过程小图标*/
.edit-order .status i.order{ background: url("../images/order_icon.png") 11px -38px no-repeat;}
.edit-order .status i.arrow{ background: url("../images/order_icon.png") -220px -30px no-repeat;}
.edit-order .status i.pay{ background: url("../images/order_icon.png") -31px -41px no-repeat;}
.edit-order .status i.distribution{ background: url("../images/order_icon.png") -75px -38px no-repeat;}
.edit-order .status i.retrieval{ background: url("../images/order_icon.png") -123px -36px  no-repeat;}
.edit-order .status i.finish{ background: url("../images/order_icon.png") -169px -37px no-repeat;}
.edit-order .status span{display:block; width:96px; text-align:center; font-size:14px;line-height:22px;}
/*下单*/
.edit-order .status1 i.order{ background: url("../images/order_icon.png") 11px 6px no-repeat;}
.edit-order .status1 .mes1{ color: red;}
.edit-order .status1 i.arrow{ background: url("../images/order_icon.png") -220px -30px no-repeat;}
.edit-order .status1 i.pay{ background: url("../images/order_icon.png") -31px -41px no-repeat;}
.edit-order .status1 i.distribution{ background: url("../images/order_icon.png") -75px -38px no-repeat;}
.edit-order .status1 i.retrieval{ background: url("../images/order_icon.png") -123px -36px  no-repeat;}
.edit-order .status1 i.finish{ background: url("../images/order_icon.png") -169px -37px no-repeat;}
.edit-order .status1 span{display:block; width:96px; text-align:center; font-size:14px;line-height:22px;}
/*支付*/
.edit-order .status2 i.order{ background: url("../images/order_icon.png") 11px 6px no-repeat;}
.edit-order .status2 .mes1,.edit-order .status2 .mes2{ color: red;}
.edit-order .status2 i.arrow{ background: url("../images/order_icon.png") -220px -30px no-repeat;}
.edit-order .status2 i.arrow1{ background: url("../images/order_icon.png") -220px 12px no-repeat;}
.edit-order .status2 i.pay{ background: url("../images/order_icon.png") -31px 4px no-repeat;}
.edit-order .status2 i.distribution{ background: url("../images/order_icon.png") -75px -38px no-repeat;}
.edit-order .status2 i.retrieval{ background: url("../images/order_icon.png") -123px -36px  no-repeat;}
.edit-order .status2 i.finish{ background: url("../images/order_icon.png") -169px -37px no-repeat;}
.edit-order .status2 span{display:block; width:96px; text-align:center; font-size:14px;line-height:22px;}
/*配货*/
.edit-order .status3 i.order{ background: url("../images/order_icon.png") 11px 6px no-repeat;}
.edit-order .status3 .mes1,.edit-order .status3 .mes2,.edit-order .status3 .mes3{ color: red;}
.edit-order .status3 i.arrow{ background: url("../images/order_icon.png") -220px -30px no-repeat;}
.edit-order .status3 i.arrow1,.edit-order .status3 i.arrow2{ background: url("../images/order_icon.png") -220px 12px no-repeat;}
.edit-order .status3 i.pay{ background: url("../images/order_icon.png") -31px 4px no-repeat;}
.edit-order .status3 i.distribution{ background: url("../images/order_icon.png") -75px 6px no-repeat;}
.edit-order .status3 i.retrieval{ background: url("../images/order_icon.png") -123px -36px  no-repeat;}
.edit-order .status3 i.finish{ background: url("../images/order_icon.png") -169px -37px no-repeat;}
.edit-order .status3 span{display:block; width:96px; text-align:center; font-size:14px;line-height:22px;}
/*出库*/
.edit-order .status4 i.order{ background: url("../images/order_icon.png") 11px 6px no-repeat;}
.edit-order .status4 i.arrow{ background: url("../images/order_icon.png") -220px -30px no-repeat;}
.edit-order .status4 i.arrow1,.edit-order .status4 i.arrow2,
.edit-order .status4 i.arrow3{ background: url("../images/order_icon.png") -220px 12px no-repeat;}
.edit-order .status4 i.pay{ background: url("../images/order_icon.png") -31px 4px no-repeat;}
.edit-order .status4 i.distribution{ background: url("../images/order_icon.png") -75px 6px no-repeat;}
.edit-order .status4 i.retrieval{ background: url("../images/order_icon.png") -123px 7px  no-repeat;}
.edit-order .status4 i.finish{ background: url("../images/order_icon.png") -169px -37px no-repeat;}
.edit-order .status4 span{display:block; width:96px; text-align:center; font-size:14px;line-height:22px;}
/*完成*/
.edit-order .status5 i.order{ background: url("../images/order_icon.png") 11px 6px no-repeat;}
.edit-order .status5 .mes1,.edit-order .status5 .mes2,.edit-order .status5 .mes3
,.edit-order .status5 .mes4,.edit-order .status5 .mes5{ color: red;}
.edit-order .status5 i.arrow{ background: url("../images/order_icon.png") -220px -30px no-repeat;}
.edit-order .status4 .mes1,.edit-order .status4 .mes2
,.edit-order .status4 .mes3,.edit-order .status4 .mes4{ color: red;}
.edit-order .status5 i.arrow1,.edit-order .status5 i.arrow2,
.edit-order .status5 i.arrow3,.edit-order .status5 i.arrow4{ background: url("../images/order_icon.png") -220px 12px no-repeat;}
.edit-order .status5 i.pay{ background: url("../images/order_icon.png") -31px 4px no-repeat;}
.edit-order .status5 i.distribution{ background: url("../images/order_icon.png") -75px 6px no-repeat;}
.edit-order .status5 i.retrieval{ background: url("../images/order_icon.png") -123px 7px  no-repeat;}
.edit-order .status5 i.finish{ background: url("../images/order_icon.png") -169px 7px no-repeat;}
.edit-order .status5 span{display:block; width:96px; text-align:center; font-size:14px;line-height:22px;}
/*过程小图标end*/





/*公用*/
.relative{position: relative;}
.orange{color:#e4624f;}
.red{color:red;}
.margin-r-30{margin-right:30px;}
.margin-r-10{margin-right:10px;}
.margin-t-10{margin-top:10px;}
.margin-t-20{margin-top:20px;}
.margin-t-30{margin-top:30px;}
.margin-t-40{margin-top:40px;}
.margin-t-60{margin-top:60px;}
.margin-t-23{margin-top:23px;}
.margin-l-8{margin-left:8px;}
.margin-l-10{margin-left:10px;}
.margin-l-15{margin-left:15px;}
.margin-l-25{margin-left:25px;}
.margin-l-145{margin-left:145px;}
.margin-b-30{margin-bottom: 30px;}
.margin-b-40{margin-bottom:40px;}
.margin-10{margin: 10px;}
.no-margin{margin: 0;}
.no-boder{border:0;}
.float-l{float:left;}
.float-r{float:right;}
.color-999{color:#999;}
.no-data{font-size: 30px;}




/*更新时间插件样式*/

























