@charset "utf-8";

@import url("reset.css");
@import url("layout.css");
@import url("menu.css");

#layout_header {
    min-width: 980px;
    background-color: #0088cc;
    height: 80px;
}

#layout_menu {
    width: 250px;
    background-color: #a8e1ff;
    display: inline-block;
    height: 500px;
}

#layout_content {
    width: 1170px;
    height: 500px;
    background-color: #fed22f;
    display: inline-block;
}

#layout_footer {
    height: 80px;
    min-width: 960px;
    background-color: #b94a48;
}
